@import '../_vars.scss';
@import '../_mixins.scss';

.footer {
    text-align: center;
    background: $black;
    color: $white;
    height: auto;

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.social {
    &__title {
        margin-bottom: 8px;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 11px;
        }
    }
}

.contact {
    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__idea {
        margin-right: 39px;

        span {
            display: block;
            text-align: left;
            white-space: pre;
        }
    }

    &__item {
        padding: 31px 39px 31px 0;
        width: 100%;
    }

    &__button {
        height: 36px;
        width: 150px;
        padding: 0 6px;
        box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
        line-height: 24px;
        font-size: 14px;

        &_white {
            color: $light-blue;
            background: $white;
        }
    }
}
