@import 'vars.scss';
@import 'mixins.scss';

.header {
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;
    }

    &__inner {
        width: 100%;
        max-width: 1038px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-search {
    width: 308px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.header-search .header-button {
    position: absolute;
    left: 19px;
    top: 13px;
    border: none;
    background: none;
    cursor: pointer;
}

.header-search input:focus {
    outline: none;
}

.header-search input {
    height: 44px;
    background: #f2f2f3;
    border-radius: 8px;
    border: none;
    color: #888b94;
    padding: 8px 0 8px 56px;
    font-size: 18px;
    line-height: 28px;
}

.header-user:hover {
    border-bottom: 2px solid#2A81DD;
}

.user-button {
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.user-button div {
    text-align: left;
}

.user-title {
    color: #2a81dd;
    font-weight: 600;
    padding: 0 2px 5px 0;
}

.user-subtitle {
    font-size: 13px;
    line-height: 20px;
}

.user-button .user-image {
    border-radius: 50%;
    margin-right: 16px;
}
