#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #1c1819;
    font-style: normal;
    font-size: 14px;
}

.wrapper {
    max-width: 1040px;
    margin: 0 auto;
    background: #fff;
    border-radius: 16px;
}

.modal {
    display: flex;
    flex-direction: row;
    padding: 60px 56px;
}

.blue-hoodie:active {
    border: 1px solid #2a81dd;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    width: 100%;
    max-width: 573px;
    text-align: left;
    font-size: 1.15em;
    line-height: 32px;
}

.main-title {
    font-weight: 400;
}

.points-title {
    font-weight: 600;
    padding: 8px 0;
}

.main-balance {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f0fafd;
    border-radius: 16px;
    max-width: 196px;
    width: 100%;
}

.description {
    padding: 8px 0 8px 8px;
}

.balance-title {
    color: #888b94;
    line-height: 24px;
}

.button {
    background: #2a81dd;
    padding: 6px;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    color: #fff;
    font-size: 14px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    width: 134px;
}
