#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #ffff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    height: 100%;
}

.container {
    max-width: 1368px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ВЕРСТАЕМ ШАПКУ */
.header {
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 32px 40px 32px 32px;
}

.header-logo {
    margin-right: 66px;
}

.header-search {
    width: 308px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-search .header-button {
    position: absolute;
    left: 19px;
    top: 13px;
    border: none;
    background: none;
}

.header-search input:focus {
    outline: none;
}

.header-search input {
    width: 308px;
    height: 44px;
    background: #f2f2f3;
    border-radius: 8px;
    border: none;
    color: #888b94;
    padding: 8px 0 8px 56px;
    font-size: 18px;
    line-height: 28px;
}

.header-user {
    display: flex;
    flex-direction: row;
}

.header-user:hover {
    transition: transform 250ms ease-in-out;
    border-bottom: 2px solid#2A81DD;
}

.user-button {
    border: none;
    background: none;
    padding-right: 16px;
}

.user-title {
    color: #2a81dd;
    font-weight: 600;
}

.user-subtitle {
    font-size: 13px;
    line-height: 20px;
}

.user-button .user-image {
    border-radius: 50%;
}

/* ЗАКОНЧИЛИ ВЕРСТАТЬ ШАПКУ */

/* ВЕРСТАЕМ ГЛАВНЫЙ БЛОК */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
}

.main-promo {
    margin-bottom: 14px;
}

.aside {
    padding-left: 32px;
    margin-right: 131px;
}

.menu-list {
    font-size: 16px;
    list-style: none;
}

.menu-item:not(last-child) {
    margin-bottom: 26px;
}

.menu-item:hover {
    border-bottom: 2px solid #2a81dd;
}

.main-hotbuttons {
    width: 100%;
    max-width: 1038px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 24px 0;
    margin-bottom: 40px;
}

.main-hotbuttons > button {
    font-weight: 600;
    line-height: 32px;
    font-size: 20px;
    border: 0;
    background: none;
    cursor: pointer;
}

.score-item {
    padding: 22px 73px 22px 89px;
    border-radius: 16px;
    background-color: #eff8eb;
    background-image: url(/src/assets/krest.png);
    background-repeat: no-repeat;
    background-position: 25px 17px;
}

.main-goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
}

.goods-item {
    display: inline-block;
    margin-right: 10px;
}

.goods-item input[type=radio] {
    display: none;
}

.goods-item label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    cursor: pointer;
    padding: 6px 12px;
    color: #2a81dd;
    border-radius: 8px;
    user-select: none;
    border: 1px solid #1c18191a;
}

/* Checked */
.goods-item input[type=radio]:checked + label {
    background: #d6ecfb;
    color: #1c1819;
    border: none;
}

.main-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}

.main-catalog-item {
    border-radius: 8px;
    width: 330px;
}

.main-catalog-item:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.3);
}

.main-catalog-image {
    display: block;
    position: relative;
}

.badge {
    position: absolute;
    bottom: 16px;
    left: 16px;
    text-transform: uppercase;
    background: #64bd38;
    border-radius: 4px;
    color: white;
    padding: 0 4px;
    font-size: 13px;
    line-height: 20px;
}

.main-catalog-description {
    padding: 16px;
}

.main-catalog-description .price {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #2a81dd;
    margin-bottom: 8px;
}

.price:hover {
    color: #f33;
}

.main-catalog-description .title {
    margin-bottom: 0 0 4px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-catalog-description button {
    margin-top: 16px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 44px;
    border: 0;
    background: #2a81dd;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.size {
    color: #888b94;
}

/* ЗАКОНЧИЛИ ВЕРСТАТЬ ГЛАВНЫЙ БЛОК */

/* ВЕРСТАЕМ ФУТЕР */
.footer {
    text-align: center;
    width: 100%;
    background: #1c1819;
    color: white;
    height: auto;
}

.footer-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-idea {
    width: 100%;
    text-align: left;
    white-space: pre-line;
    margin-right: 30px;
}

.contact-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link:not(:last-child) {
    margin-right: 11px;
}

.social-title {
    margin-bottom: 8px;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 6px;
    box-shadow: 0 2px 4px rgba(28, 24, 25, 0.1);
    border-radius: 8px;
    color: #2a81dd;
    background: white;
    cursor: pointer
}

.link-wrapper {
    padding: 31px 39px;
    width: 100%;
}

/* ЗАКОНЧИЛИ ВЕРСТАТЬ ФУТЕР */
